build/

 # Idea user settings

.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
lib/*

# Eclipse
.metadata
bin/
tmp/
out/

*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
