
.root{
    -fx-background-image:  url('../../img/paisagem/ponte-florianopolis.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
   
}

