/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	
	-fx-font-size: 16px;
	-fx-background-color: #DCEDC8;
	-fx-prompt-text-fill: BLUE;
    -fx-focus-color: RED;
    -fx-text-inner-color: GREEN;
}

.a{
	
	-fx-font-size: 20px;
	-fx-text-fill: #FF0000;
}

Separator{
	
	-fx-background-color: #BDBDBD;
}