.AppBarRoot {
    -fx-background-color: #8AE664;
}

.AppBarTitle {
    -webkit-fx-font-color: white;
    -moz-fx-font-color: white;
    -ms-fx-font-color: white;
    -o-fx-font-color: white;
    -khtml-fx-font-color: white;
    fx-font-color: white;
    -fx-text-fill: white;
}

.AppBarMenuButton {

}

.jfx-hamburger StackPane {
    -fx-background-color: white;
}